ADMIN_USER=roshanadmin
ADMIN_PASS=roshan@123
PORT=3000

MONGO_URI=mongodb+srv://roshanparande960_db_user:zvg3gGiegLEIyXG4@cluster0.2wb0dhw.mongodb.net/?appName=Cluster0
MONGO_URI_FALLBACK=mongodb://roshanparande960_db_user:zvg3gGiegLEIyXG4@ac-tnog24e-shard-00-00.2wb0dhw.mongodb.net:27017,ac-tnog24e-shard-00-01.2wb0dhw.mongodb.net:27017,ac-tnog24e-shard-00-02.2wb0dhw.mongodb.net:27017/?ssl=true&authSource=admin&retryWrites=true&w=majority
MONGO_DB_NAME=roshan_editzz

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_URL=
CLOUDINARY_FOLDER=roshan-editzz
